# PHPSTan config file default for php version 8
includes:
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-phpunit/rules.neon
  
parameters:
  level: 3
  paths:
    - src
    - tests
  excludes_analyse:
    - vendor  
  #ignoreErrors:
      

     
  reportUnmatchedIgnoredErrors: true
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false